// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Starling from "../../../index.js";

export declare namespace DirectDebitsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DirectDebitsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DirectDebitsClient.Options>;

    constructor(options: DirectDebitsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     *
     *
     * Required scopes (any): mandate:read.
     *
     * @param {Starling.GetDirectDebitsRequest} request
     * @param {DirectDebitsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.directDebits.get({
     *         mandateUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public get(
        request: Starling.GetDirectDebitsRequest,
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.DirectDebitMandateV2> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Starling.GetDirectDebitsRequest,
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.DirectDebitMandateV2>> {
        const { mandateUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/direct-debit/mandates/${core.url.encodePathParam(mandateUid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.DirectDebitMandateV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/direct-debit/mandates/{mandateUid}",
        );
    }

    /**
     *
     *
     * Required scopes (any): mandate:delete.
     *
     * @param {Starling.CancelDirectDebitsRequest} request
     * @param {DirectDebitsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.directDebits.cancel({
     *         mandateUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public cancel(
        request: Starling.CancelDirectDebitsRequest,
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(request, requestOptions));
    }

    private async __cancel(
        request: Starling.CancelDirectDebitsRequest,
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { mandateUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/direct-debit/mandates/${core.url.encodePathParam(mandateUid)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v2/direct-debit/mandates/{mandateUid}",
        );
    }

    /**
     *
     *
     * Required scopes (any): mandate:read.
     *
     * @param {DirectDebitsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.directDebits.list()
     */
    public list(
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.DirectDebitMandatesV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.DirectDebitMandatesV2>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                "api/v2/direct-debit/mandates",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.DirectDebitMandatesV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v2/direct-debit/mandates");
    }

    /**
     *
     *
     * Required scopes (any): mandate:read.
     *
     * @param {Starling.ListForAccountDirectDebitsRequest} request
     * @param {DirectDebitsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.directDebits.listForAccount({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public listForAccount(
        request: Starling.ListForAccountDirectDebitsRequest,
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.DirectDebitMandatesV2> {
        return core.HttpResponsePromise.fromPromise(this.__listForAccount(request, requestOptions));
    }

    private async __listForAccount(
        request: Starling.ListForAccountDirectDebitsRequest,
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.DirectDebitMandatesV2>> {
        const { accountUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/direct-debit/mandates/account/${core.url.encodePathParam(accountUid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.DirectDebitMandatesV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/direct-debit/mandates/account/{accountUid}",
        );
    }

    /**
     *
     *
     * Required scopes (any): mandate:read.
     *
     * @param {Starling.ListPaymentsDirectDebitsRequest} request
     * @param {DirectDebitsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.directDebits.listPayments({
     *         mandateUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         since: "2023-01-01"
     *     })
     */
    public listPayments(
        request: Starling.ListPaymentsDirectDebitsRequest,
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.DirectDebitPaymentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listPayments(request, requestOptions));
    }

    private async __listPayments(
        request: Starling.ListPaymentsDirectDebitsRequest,
        requestOptions?: DirectDebitsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.DirectDebitPaymentsResponse>> {
        const { mandateUid, since } = request;
        const _queryParams: Record<string, unknown> = {
            since,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/direct-debit/mandates/${core.url.encodePathParam(mandateUid)}/payments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.DirectDebitPaymentsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/direct-debit/mandates/{mandateUid}/payments",
        );
    }
}
