// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Starling from "../../../index.js";

export declare namespace SpacesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SpacesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SpacesClient.Options>;

    constructor(options: SpacesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     *
     *
     * Required scopes (any): space:read.
     *
     * @param {Starling.DownloadPhotoSpacesRequest} request
     * @param {SpacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.spaces.downloadPhoto({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         spaceUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public downloadPhoto(
        request: Starling.DownloadPhotoSpacesRequest,
        requestOptions?: SpacesClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.SpacePhoto> {
        return core.HttpResponsePromise.fromPromise(this.__downloadPhoto(request, requestOptions));
    }

    private async __downloadPhoto(
        request: Starling.DownloadPhotoSpacesRequest,
        requestOptions?: SpacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.SpacePhoto>> {
        const { accountUid, spaceUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/account/${core.url.encodePathParam(accountUid)}/spaces/${core.url.encodePathParam(spaceUid)}/photo`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.SpacePhoto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/account/{accountUid}/spaces/{spaceUid}/photo",
        );
    }

    /**
     *
     *
     * Required scopes (any): space:read.
     *
     * @param {Starling.ListSpacesRequest} request
     * @param {SpacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.spaces.list({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public list(
        request: Starling.ListSpacesRequest,
        requestOptions?: SpacesClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.Spaces> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Starling.ListSpacesRequest,
        requestOptions?: SpacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.Spaces>> {
        const { accountUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/account/${core.url.encodePathParam(accountUid)}/spaces`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.Spaces, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/account/{accountUid}/spaces",
        );
    }

    /**
     *
     *
     * Required scopes (any): space:read.
     *
     * @param {Starling.GetSpendingSpaceSpacesRequest} request
     * @param {SpacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.spaces.getSpendingSpace({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         spaceUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public getSpendingSpace(
        request: Starling.GetSpendingSpaceSpacesRequest,
        requestOptions?: SpacesClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.SpendingSpace> {
        return core.HttpResponsePromise.fromPromise(this.__getSpendingSpace(request, requestOptions));
    }

    private async __getSpendingSpace(
        request: Starling.GetSpendingSpaceSpacesRequest,
        requestOptions?: SpacesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.SpendingSpace>> {
        const { accountUid, spaceUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/account/${core.url.encodePathParam(accountUid)}/spaces/spending/${core.url.encodePathParam(spaceUid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.SpendingSpace, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/account/{accountUid}/spaces/spending/{spaceUid}",
        );
    }
}
