// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Starling from "../../../index.js";

export declare namespace ProfileImageClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProfileImageClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProfileImageClient.Options>;

    constructor(options: ProfileImageClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     *
     *
     * Required scopes (any): profile-image:read.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     */
    public download(
        request: Starling.DownloadProfileImageRequest,
        requestOptions?: ProfileImageClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__download(request, requestOptions));
    }

    private async __download(
        request: Starling.DownloadProfileImageRequest,
        requestOptions?: ProfileImageClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { accountHolderUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/account-holder/${core.url.encodePathParam(accountHolderUid)}/profile-image`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/account-holder/{accountHolderUid}/profile-image",
        );
    }

    /**
     *
     *
     * Required scopes (any): profile-image:edit.
     *
     * @param {core.file.Uploadable} uploadable
     * @param {string} accountHolderUid
     * @param {ProfileImageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     */
    public update(
        uploadable: core.file.Uploadable,
        accountHolderUid: string,
        requestOptions?: ProfileImageClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__update(uploadable, accountHolderUid, requestOptions));
    }

    private async __update(
        uploadable: core.file.Uploadable,
        accountHolderUid: string,
        requestOptions?: ProfileImageClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _binaryUploadRequest = await core.file.toBinaryUploadRequest(uploadable);
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            _binaryUploadRequest.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/account-holder/${core.url.encodePathParam(accountHolderUid)}/profile-image`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "image/*",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "bytes",
            duplex: "half",
            body: _binaryUploadRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v2/account-holder/{accountHolderUid}/profile-image",
        );
    }

    /**
     *
     *
     * Required scopes (any): profile-image:edit.
     *
     * @param {Starling.DeleteProfileImageRequest} request
     * @param {ProfileImageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.profileImage.delete({
     *         accountHolderUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public delete(
        request: Starling.DeleteProfileImageRequest,
        requestOptions?: ProfileImageClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Starling.DeleteProfileImageRequest,
        requestOptions?: ProfileImageClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { accountHolderUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/account-holder/${core.url.encodePathParam(accountHolderUid)}/profile-image`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v2/account-holder/{accountHolderUid}/profile-image",
        );
    }
}
