// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Starling from "../../../index.js";

export declare namespace FeedClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FeedClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FeedClient.Options>;

    constructor(options: FeedClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Required scopes (any): attachment:read.
     *
     * @param {Starling.ListAttachmentsFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.listAttachments({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         feedItemUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public listAttachments(
        request: Starling.ListAttachmentsFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.FeedItemAttachments> {
        return core.HttpResponsePromise.fromPromise(this.__listAttachments(request, requestOptions));
    }

    private async __listAttachments(
        request: Starling.ListAttachmentsFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.FeedItemAttachments>> {
        const { accountUid, categoryUid, feedItemUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}/attachments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.FeedItemAttachments, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/attachments",
        );
    }

    /**
     *
     *
     * Required scopes (any): attachment:write.
     *
     * @param {core.file.Uploadable} uploadable
     * @param {string} accountUid
     * @param {string} categoryUid
     * @param {string} feedItemUid
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     */
    public uploadAttachment(
        uploadable: core.file.Uploadable,
        accountUid: string,
        categoryUid: string,
        feedItemUid: string,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(
            this.__uploadAttachment(uploadable, accountUid, categoryUid, feedItemUid, requestOptions),
        );
    }

    private async __uploadAttachment(
        uploadable: core.file.Uploadable,
        accountUid: string,
        categoryUid: string,
        feedItemUid: string,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const _binaryUploadRequest = await core.file.toBinaryUploadRequest(uploadable);
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            _binaryUploadRequest.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}/attachments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/octet-stream",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "bytes",
            duplex: "half",
            body: _binaryUploadRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/attachments",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * The spending category is different. It specifies the type of spending associated with the transaction, for example, `GROCERIES`, `GIFTS` or `VAT`.
     *
     * Required scopes (any): transaction:edit.
     *
     * @param {Starling.UpdateSpendingCategory} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.setSpendingCategory({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         feedItemUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         spendingCategory: "BIKE"
     *     })
     */
    public setSpendingCategory(
        request: Starling.UpdateSpendingCategory,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__setSpendingCategory(request, requestOptions));
    }

    private async __setSpendingCategory(
        request: Starling.UpdateSpendingCategory,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { accountUid, categoryUid, feedItemUid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}/spending-category`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/spending-category",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Required scopes (any): receipt:read.
     *
     * @param {Starling.GetReceiptFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.getReceipt({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         feedItemUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public getReceipt(
        request: Starling.GetReceiptFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.Receipt> {
        return core.HttpResponsePromise.fromPromise(this.__getReceipt(request, requestOptions));
    }

    private async __getReceipt(
        request: Starling.GetReceiptFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.Receipt>> {
        const { accountUid, categoryUid, feedItemUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}/receipt`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.Receipt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/receipt",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Required scopes (any): receipt:write, metadata:create, metadata:edit.
     *
     * @param {Starling.PutReceiptFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.putReceipt({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         metadataSource: "CUSTOMER",
     *         receiptIdentifier: "0987654321",
     *         totalAmount: 10.65,
     *         receiptMerchant: {},
     *         items: [{
     *                 description: "Large Cappuccino"
     *             }],
     *         paymentMethods: [{
     *                 description: "Card Payment",
     *                 amount: 14.99
     *             }]
     *     })
     */
    public putReceipt(
        request: Starling.PutReceiptFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.ReceiptCreationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__putReceipt(request, requestOptions));
    }

    private async __putReceipt(
        request: Starling.PutReceiptFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.ReceiptCreationResponse>> {
        const { accountUid, categoryUid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(_body.feedItemUid)}/receipt`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.ReceiptCreationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/receipt",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Required scopes (any): attachment:read.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     */
    public downloadAttachment(
        request: Starling.DownloadAttachmentFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadAttachment(request, requestOptions));
    }

    private async __downloadAttachment(
        request: Starling.DownloadAttachmentFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { accountUid, categoryUid, feedItemUid, feedItemAttachmentUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}/attachments/${core.url.encodePathParam(feedItemAttachmentUid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/attachments/{feedItemAttachmentUid}",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Required scopes (any): transaction:read.
     *
     * @param {Starling.GetFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.get({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         feedItemUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public get(
        request: Starling.GetFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.FeedItem> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Starling.GetFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.FeedItem>> {
        const { accountUid, categoryUid, feedItemUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.FeedItem, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Required scopes (any): transaction:read.
     *
     * @param {Starling.GetMastercardDetailsFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.getMastercardDetails({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         feedItemUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public getMastercardDetails(
        request: Starling.GetMastercardDetailsFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.MastercardFeedItem> {
        return core.HttpResponsePromise.fromPromise(this.__getMastercardDetails(request, requestOptions));
    }

    private async __getMastercardDetails(
        request: Starling.GetMastercardDetailsFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.MastercardFeedItem>> {
        const { accountUid, categoryUid, feedItemUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}/mastercard`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.MastercardFeedItem, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/mastercard",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Required scopes (any): receipts:read.
     *
     * @param {Starling.ListReceiptsFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.listReceipts({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         feedItemUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public listReceipts(
        request: Starling.ListReceiptsFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.Receipt[]> {
        return core.HttpResponsePromise.fromPromise(this.__listReceipts(request, requestOptions));
    }

    private async __listReceipts(
        request: Starling.ListReceiptsFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.Receipt[]>> {
        const { accountUid, categoryUid, feedItemUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}/receipts`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.Receipt[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/receipts",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * The `changesSince` date must be within 1 year of the current date-time. Requests with a `changesSince` value older than 1 year will return HTTP 400. For queries spanning more than 1 year, use the paginated-transactions endpoint instead.
     *
     * Required scopes (any): transaction:read.
     *
     * @param {Starling.ListChangesFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.listChanges({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         changesSince: "2026-01-01T00:00:00Z"
     *     })
     */
    public listChanges(
        request: Starling.ListChangesFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.FeedItems> {
        return core.HttpResponsePromise.fromPromise(this.__listChanges(request, requestOptions));
    }

    private async __listChanges(
        request: Starling.ListChangesFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.FeedItems>> {
        const { accountUid, categoryUid, changesSince } = request;
        const _queryParams: Record<string, unknown> = {
            changesSince,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.FeedItems, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * The date range between `minTransactionTimestamp` and `maxTransactionTimestamp` must not exceed 1 year. Requests exceeding this limit will return HTTP 400. For queries spanning more than 1 year, use the paginated-transactions endpoint instead.
     *
     * Required scopes (any): transaction:read.
     *
     * @param {Starling.ListBetweenFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.listBetween({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         minTransactionTimestamp: "2026-01-01T00:00:00Z",
     *         maxTransactionTimestamp: "2026-06-16T00:00:00Z"
     *     })
     */
    public listBetween(
        request: Starling.ListBetweenFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.FeedItems> {
        return core.HttpResponsePromise.fromPromise(this.__listBetween(request, requestOptions));
    }

    private async __listBetween(
        request: Starling.ListBetweenFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.FeedItems>> {
        const { accountUid, categoryUid, minTransactionTimestamp, maxTransactionTimestamp } = request;
        const _queryParams: Record<string, unknown> = {
            minTransactionTimestamp,
            maxTransactionTimestamp,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/transactions-between`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.FeedItems, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/transactions-between",
        );
    }

    /**
     * The date range between `minTransactionTimestamp` and `maxTransactionTimestamp` must not exceed 1 year. Requests exceeding this limit will return HTTP 400. For queries spanning more than 1 year, use the paginated-transactions endpoint instead.
     *
     * Required scopes (any): transaction:read.
     *
     * @param {Starling.ListSettledBetweenFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.listSettledBetween({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         minTransactionTimestamp: "2026-01-01T00:00:00Z",
     *         maxTransactionTimestamp: "2026-06-16T00:00:00Z"
     *     })
     */
    public listSettledBetween(
        request: Starling.ListSettledBetweenFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.FeedItems> {
        return core.HttpResponsePromise.fromPromise(this.__listSettledBetween(request, requestOptions));
    }

    private async __listSettledBetween(
        request: Starling.ListSettledBetweenFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.FeedItems>> {
        const { accountUid, minTransactionTimestamp, maxTransactionTimestamp } = request;
        const _queryParams: Record<string, unknown> = {
            minTransactionTimestamp,
            maxTransactionTimestamp,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/settled-transactions-between`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.FeedItems, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/settled-transactions-between",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * This endpoint supports date ranges greater than 1 year and is the recommended alternative when querying more than 1 year of transaction history. The non-paginated feed endpoints (transactions-between, settled-transactions-between, and changesSince) are limited to a 1-year date range and will return HTTP 400 if exceeded.
     *
     * Returns transactions in descending order (most recent first), sorted by the time they were added to the feed. Page size is fixed at 1000 transactions. Follow pagination links in the links object to navigate pages. All transaction statuses are returned; filter on the client side if you only need settled transactions.
     *
     * Required scopes (any): transaction:read.
     *
     * @param {Starling.ListPageFeedRequest} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.listPage({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         minTransactionTimestamp: "2026-01-01T00:00:00Z",
     *         maxTransactionTimestamp: "2026-06-16T00:00:00Z",
     *         cursor: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public listPage(
        request: Starling.ListPageFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.PaginatedFeedItems> {
        return core.HttpResponsePromise.fromPromise(this.__listPage(request, requestOptions));
    }

    private async __listPage(
        request: Starling.ListPageFeedRequest,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.PaginatedFeedItems>> {
        const { accountUid, categoryUid, minTransactionTimestamp, maxTransactionTimestamp, cursor, pageToFetch } =
            request;
        const _queryParams: Record<string, unknown> = {
            minTransactionTimestamp,
            maxTransactionTimestamp,
            cursor,
            pageToFetch: pageToFetch != null ? pageToFetch : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/paginated-transactions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.PaginatedFeedItems, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/paginated-transactions",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Required scopes (any): transaction:edit.
     *
     * @param {Starling.UserNoteWrapper} request
     * @param {FeedClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.feed.setNote({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         feedItemUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         userNote: "Submitted for tax rebate"
     *     })
     */
    public setNote(
        request: Starling.UserNoteWrapper,
        requestOptions?: FeedClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__setNote(request, requestOptions));
    }

    private async __setNote(
        request: Starling.UserNoteWrapper,
        requestOptions?: FeedClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { accountUid, categoryUid, feedItemUid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/feed/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/${core.url.encodePathParam(feedItemUid)}/user-note`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v2/feed/account/{accountUid}/category/{categoryUid}/{feedItemUid}/user-note",
        );
    }
}
