# This file was auto-generated by Fern from our API Definition.

import datetime as dt
import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.account_identifiers import AccountIdentifiers
from ..types.accounts import Accounts
from ..types.balance_v2 import BalanceV2
from ..types.confirmation_of_funds_response import ConfirmationOfFundsResponse
from .raw_client import AsyncRawAccountsClient, RawAccountsClient


class AccountsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawAccountsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawAccountsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawAccountsClient
        """
        return self._raw_client

    def export_feed(
        self,
        *,
        account_uid: str,
        start: dt.date,
        end: typing.Optional[dt.date] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[bytes]:
        """
        A Feed Export contains a list of all (Settled) transactions on an account for a specified date range in CSV format.

        Required scopes (any): feed-export-csv:read.

        Parameters
        ----------
        account_uid : str

        start : dt.date

        end : typing.Optional[dt.date]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.Iterator[bytes]
            Successful operation
        """
        with self._raw_client.export_feed(
            account_uid=account_uid, start=start, end=end, request_options=request_options
        ) as r:
            yield from r.data

    def get_balance(self, *, account_uid: str, request_options: typing.Optional[RequestOptions] = None) -> BalanceV2:
        """
        The account balance is expressed in two ways: cleared balance and effective balance.
        * The **cleared balance** is the balance of settled transactions and so does not include pending transactions. The cleared end of day balance is used to calculate interest.
        * The **effective balance** is the balance of settled and pending outgoing transactions. This is the balance most commonly presented to the account holder (e.g. in-app).

        `clearedBalance` and `effectiveBalance` hold the values for the main account only, excluding balances in spaces, savings goals etc. `totalClearedBalance` and `totalEffectiveBalance` hold the corresponding values totalled across the main account and all spaces, savings goals etc.

        Many payment types settle almost instantly (e.g. faster payments). Card transactions usually take a few days to settle and will remain pending for this time. We've got a blog post on [how card transactions work](https://www.starlingbank.com/blog/card-transactions-explained/).

        To check whether the account has enough money to make a payment, use the confirmation of funds endpoint instead.

        Required scopes (any): balance:read.

        Parameters
        ----------
        account_uid : str
            Account uid

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BalanceV2
            Successful operation

        Examples
        --------
        from starling_bank.generated import StarlingClient

        client = StarlingClient(
            access_token="YOUR_ACCESS_TOKEN",
        )
        client.accounts.get_balance(
            account_uid="aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
        )
        """
        _response = self._raw_client.get_balance(account_uid=account_uid, request_options=request_options)
        return _response.data

    def get_identifiers(
        self, *, account_uid: str, request_options: typing.Optional[RequestOptions] = None
    ) -> AccountIdentifiers:
        """
        Identifiers come in pairs:

        * A bank identifier, which identifies the bank
        * An account identifier, which identifiers the account at the bank

        Identifiers can be:
        * Sort code and account number for domestic UK payments
        * BIC and IBAN for international payments
        * ABA and ACH routing numbers for domestic US payments

        Required scopes (any): account-identifier:read.

        Parameters
        ----------
        account_uid : str
            Account uid

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AccountIdentifiers
            Successful operation

        Examples
        --------
        from starling_bank.generated import StarlingClient

        client = StarlingClient(
            access_token="YOUR_ACCESS_TOKEN",
        )
        client.accounts.get_identifiers(
            account_uid="aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
        )
        """
        _response = self._raw_client.get_identifiers(account_uid=account_uid, request_options=request_options)
        return _response.data

    def list(self, *, request_options: typing.Optional[RequestOptions] = None) -> Accounts:
        """
        This endpoint returns a list of the accounts that you can access using the access token you supplied in the request header.

        Each access token is associated with a single account holder, who may have more than one account (for example, a GBP account and a euro account). This endpoint returns all the accounts that the account holder has given you permission to access.

        Note that an account holder in this context is either a personal account holder, or a sole trader account holder, or a business account holder or a joint account holder. An individual person may be more than one of these kinds of account holder, but each kind of account holder is a separate entity and hence requires a separate access token and permission.

        Categories are subdivisions of an account.
        The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.

        Required scopes (any): account:read, account-list:read.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Accounts
            Successful operation

        Examples
        --------
        from starling_bank.generated import StarlingClient

        client = StarlingClient(
            access_token="YOUR_ACCESS_TOKEN",
        )
        client.accounts.list()
        """
        _response = self._raw_client.list(request_options=request_options)
        return _response.data

    def confirm_funds(
        self,
        *,
        account_uid: str,
        target_amount_in_minor_units: int,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ConfirmationOfFundsResponse:
        """


        Required scopes (any): confirmation-of-funds:read.

        Parameters
        ----------
        account_uid : str
            Account uid

        target_amount_in_minor_units : int
            Target amount in minor units

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ConfirmationOfFundsResponse
            Successful operation

        Examples
        --------
        from starling_bank.generated import StarlingClient

        client = StarlingClient(
            access_token="YOUR_ACCESS_TOKEN",
        )
        client.accounts.confirm_funds(
            account_uid="aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
            target_amount_in_minor_units=1000000,
        )
        """
        _response = self._raw_client.confirm_funds(
            account_uid=account_uid,
            target_amount_in_minor_units=target_amount_in_minor_units,
            request_options=request_options,
        )
        return _response.data


class AsyncAccountsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawAccountsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawAccountsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawAccountsClient
        """
        return self._raw_client

    async def export_feed(
        self,
        *,
        account_uid: str,
        start: dt.date,
        end: typing.Optional[dt.date] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[bytes]:
        """
        A Feed Export contains a list of all (Settled) transactions on an account for a specified date range in CSV format.

        Required scopes (any): feed-export-csv:read.

        Parameters
        ----------
        account_uid : str

        start : dt.date

        end : typing.Optional[dt.date]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration. You can pass in configuration such as `chunk_size`, and more to customize the request and response.

        Returns
        -------
        typing.AsyncIterator[bytes]
            Successful operation
        """
        async with self._raw_client.export_feed(
            account_uid=account_uid, start=start, end=end, request_options=request_options
        ) as r:
            async for _chunk in r.data:
                yield _chunk

    async def get_balance(
        self, *, account_uid: str, request_options: typing.Optional[RequestOptions] = None
    ) -> BalanceV2:
        """
        The account balance is expressed in two ways: cleared balance and effective balance.
        * The **cleared balance** is the balance of settled transactions and so does not include pending transactions. The cleared end of day balance is used to calculate interest.
        * The **effective balance** is the balance of settled and pending outgoing transactions. This is the balance most commonly presented to the account holder (e.g. in-app).

        `clearedBalance` and `effectiveBalance` hold the values for the main account only, excluding balances in spaces, savings goals etc. `totalClearedBalance` and `totalEffectiveBalance` hold the corresponding values totalled across the main account and all spaces, savings goals etc.

        Many payment types settle almost instantly (e.g. faster payments). Card transactions usually take a few days to settle and will remain pending for this time. We've got a blog post on [how card transactions work](https://www.starlingbank.com/blog/card-transactions-explained/).

        To check whether the account has enough money to make a payment, use the confirmation of funds endpoint instead.

        Required scopes (any): balance:read.

        Parameters
        ----------
        account_uid : str
            Account uid

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BalanceV2
            Successful operation

        Examples
        --------
        import asyncio

        from starling_bank.generated import AsyncStarlingClient

        client = AsyncStarlingClient(
            access_token="YOUR_ACCESS_TOKEN",
        )


        async def main() -> None:
            await client.accounts.get_balance(
                account_uid="aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_balance(account_uid=account_uid, request_options=request_options)
        return _response.data

    async def get_identifiers(
        self, *, account_uid: str, request_options: typing.Optional[RequestOptions] = None
    ) -> AccountIdentifiers:
        """
        Identifiers come in pairs:

        * A bank identifier, which identifies the bank
        * An account identifier, which identifiers the account at the bank

        Identifiers can be:
        * Sort code and account number for domestic UK payments
        * BIC and IBAN for international payments
        * ABA and ACH routing numbers for domestic US payments

        Required scopes (any): account-identifier:read.

        Parameters
        ----------
        account_uid : str
            Account uid

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AccountIdentifiers
            Successful operation

        Examples
        --------
        import asyncio

        from starling_bank.generated import AsyncStarlingClient

        client = AsyncStarlingClient(
            access_token="YOUR_ACCESS_TOKEN",
        )


        async def main() -> None:
            await client.accounts.get_identifiers(
                account_uid="aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_identifiers(account_uid=account_uid, request_options=request_options)
        return _response.data

    async def list(self, *, request_options: typing.Optional[RequestOptions] = None) -> Accounts:
        """
        This endpoint returns a list of the accounts that you can access using the access token you supplied in the request header.

        Each access token is associated with a single account holder, who may have more than one account (for example, a GBP account and a euro account). This endpoint returns all the accounts that the account holder has given you permission to access.

        Note that an account holder in this context is either a personal account holder, or a sole trader account holder, or a business account holder or a joint account holder. An individual person may be more than one of these kinds of account holder, but each kind of account holder is a separate entity and hence requires a separate access token and permission.

        Categories are subdivisions of an account.
        The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.

        Required scopes (any): account:read, account-list:read.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Accounts
            Successful operation

        Examples
        --------
        import asyncio

        from starling_bank.generated import AsyncStarlingClient

        client = AsyncStarlingClient(
            access_token="YOUR_ACCESS_TOKEN",
        )


        async def main() -> None:
            await client.accounts.list()


        asyncio.run(main())
        """
        _response = await self._raw_client.list(request_options=request_options)
        return _response.data

    async def confirm_funds(
        self,
        *,
        account_uid: str,
        target_amount_in_minor_units: int,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ConfirmationOfFundsResponse:
        """


        Required scopes (any): confirmation-of-funds:read.

        Parameters
        ----------
        account_uid : str
            Account uid

        target_amount_in_minor_units : int
            Target amount in minor units

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ConfirmationOfFundsResponse
            Successful operation

        Examples
        --------
        import asyncio

        from starling_bank.generated import AsyncStarlingClient

        client = AsyncStarlingClient(
            access_token="YOUR_ACCESS_TOKEN",
        )


        async def main() -> None:
            await client.accounts.confirm_funds(
                account_uid="aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
                target_amount_in_minor_units=1000000,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.confirm_funds(
            account_uid=account_uid,
            target_amount_in_minor_units=target_amount_in_minor_units,
            request_options=request_options,
        )
        return _response.data
