// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Starling from "../../../index.js";

export declare namespace PaymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PaymentsClient.Options>;

    constructor(options: PaymentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * If `startDate` is null, the standing order is awaiting review and has not yet been approved.
     *
     * If `cancelledAt` is non-null, the standing order has been cancelled, either by the customer, or as a result of the payment review.
     *
     * Required scopes (any): standing-order:read, standing-order-own:read.
     *
     * @param {Starling.GetStandingOrderPaymentsRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.getStandingOrder({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         paymentOrderUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public getStandingOrder(
        request: Starling.GetStandingOrderPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.StandingOrder> {
        return core.HttpResponsePromise.fromPromise(this.__getStandingOrder(request, requestOptions));
    }

    private async __getStandingOrder(
        request: Starling.GetStandingOrderPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.StandingOrder>> {
        const { accountUid, categoryUid, paymentOrderUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/standing-orders/${core.url.encodePathParam(paymentOrderUid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.StandingOrder, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders/{paymentOrderUid}",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Possible 400 (Bad Request) errors include:
     *  * `CANNOT_MAKE_REQUESTED_CHANGE`: you cannot make this change to this standing order. You can create a new standing order instead.
     * * `CANNOT_UPDATE_CANCELLED_PAYMENT_ORDER`: you cannot update this standing order because it has been cancelled.
     * * `CANNOT_UPDATE_PENDING_PAYMENT_ORDER`: you cannot update this standing order at this time because it is pending. This can happen if the original standing order is awaiting review. In this case, `GET /api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders/{paymentOrderUid}` will return a null `startDate`.
     *
     * Required scopes (any): standing-order:create. Requires request signing.
     *
     * @param {Starling.UpdateStandingOrderRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.updateStandingOrder({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         paymentOrderUidPathParam: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         paymentOrderUid: "33443344-3344-3344-3344-334433443344",
     *         reference: "Payment reference",
     *         amount: {
     *             currency: "GBP",
     *             minorUnits: 123456
     *         },
     *         standingOrderRecurrence: {
     *             startDate: "2019-09-23",
     *             frequency: "DAILY"
     *         }
     *     })
     */
    public updateStandingOrder(
        request: Starling.UpdateStandingOrderRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.UpdateStandingOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateStandingOrder(request, requestOptions));
    }

    private async __updateStandingOrder(
        request: Starling.UpdateStandingOrderRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.UpdateStandingOrderResponse>> {
        const { accountUid, categoryUid, paymentOrderUidPathParam, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/standing-orders/${core.url.encodePathParam(paymentOrderUidPathParam)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.UpdateStandingOrderResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders/{paymentOrderUidPathParam}",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Possible 400 (Bad Request) errors include:
     *  * `CANNOT_CANCEL_PENDING_PAYMENT_ORDER`: you cannot cancel this standing order at this time because it is pending. This can happen if the original standing order is awaiting review. In this case, `GET /api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders/{paymentOrderUid}` returns a null `startDate`.
     *
     * Required scopes (any): standing-order:delete. Requires request signing.
     *
     * @param {Starling.CancelStandingOrderPaymentsRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.cancelStandingOrder({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         paymentOrderUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public cancelStandingOrder(
        request: Starling.CancelStandingOrderPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__cancelStandingOrder(request, requestOptions));
    }

    private async __cancelStandingOrder(
        request: Starling.CancelStandingOrderPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { accountUid, categoryUid, paymentOrderUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/standing-orders/${core.url.encodePathParam(paymentOrderUid)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders/{paymentOrderUid}",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * Standing orders that are awaiting review are omitted from the list.
     *
     * Required scopes (any): standing-order:read, standing-order-own:read.
     *
     * @param {Starling.ListStandingOrdersPaymentsRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.listStandingOrders({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public listStandingOrders(
        request: Starling.ListStandingOrdersPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.StandingOrdersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listStandingOrders(request, requestOptions));
    }

    private async __listStandingOrders(
        request: Starling.ListStandingOrdersPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.StandingOrdersResponse>> {
        const { accountUid, categoryUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/standing-orders`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.StandingOrdersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * The recipient of the standing order must either be defined in the `paymentRecipient` field in the request body  or be an existing payee of the account holder (you can create a new payee using `/api/v2/payees`).
     *
     * `externalIdentifier` is a unique identifier for the standing order request, and is generated by you. To ensure idempotency, this must be unique for each standing order request you create.
     *
     * Note that the standing order may not be created immediately if we need to review the request. In that case, the request may remain in a `PENDING` state for a while (possibly for a few hours).
     *
     * Required scopes (any): standing-order:create. Requires request signing.
     *
     * @param {Starling.CreateStandingOrderRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.createStandingOrder({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         externalIdentifier: "a unique identifier to ensure idempotency",
     *         reference: "Monthly Expenses",
     *         amount: {
     *             currency: "GBP",
     *             minorUnits: 123456
     *         },
     *         standingOrderRecurrence: {
     *             startDate: "2019-09-23",
     *             frequency: "DAILY"
     *         }
     *     })
     */
    public createStandingOrder(
        request: Starling.CreateStandingOrderRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.CreateStandingOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createStandingOrder(request, requestOptions));
    }

    private async __createStandingOrder(
        request: Starling.CreateStandingOrderRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.CreateStandingOrderResponse>> {
        const { accountUid, categoryUid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/standing-orders`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.CreateStandingOrderResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders",
        );
    }

    /**
     *
     *
     * Required scopes (any): pay-local:read.
     *
     * @param {Starling.GetOrderPaymentsRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.getOrder({
     *         paymentOrderUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public getOrder(
        request: Starling.GetOrderPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.PaymentOrderV2> {
        return core.HttpResponsePromise.fromPromise(this.__getOrder(request, requestOptions));
    }

    private async __getOrder(
        request: Starling.GetOrderPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.PaymentOrderV2>> {
        const { paymentOrderUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/payment-order/${core.url.encodePathParam(paymentOrderUid)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.PaymentOrderV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/payments/local/payment-order/{paymentOrderUid}",
        );
    }

    /**
     * Note that a payment associated with a payment order may be pending (`paymentStatusDetails.paymentStatus = PENDING`)  or rejected (`paymentStatusDetails.paymentStatus = REJECTED`).
     *
     * Required scopes (any): pay-local:read.
     *
     * @param {Starling.ListOrderPaymentsPaymentsRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.listOrderPayments({
     *         paymentOrderUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public listOrderPayments(
        request: Starling.ListOrderPaymentsPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.PaymentOrderPaymentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listOrderPayments(request, requestOptions));
    }

    private async __listOrderPayments(
        request: Starling.ListOrderPaymentsPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.PaymentOrderPaymentsResponse>> {
        const { paymentOrderUid } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/payment-order/${core.url.encodePathParam(paymentOrderUid)}/payments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Starling.PaymentOrderPaymentsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/payments/local/payment-order/{paymentOrderUid}/payments",
        );
    }

    /**
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * If you only want the next payment date, you can also get this from the `nextDate` returned by `GET /api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders/{paymentOrderUid}`.
     *
     * If `nextPaymentDates` is empty for a standing order, the standing order may be awaiting review, or may have been cancelled. Or it may have been a one-off standing order: in this case, `nextDate` will be null too.
     *
     * Required scopes (any): standing-order:read.
     *
     * @param {Starling.ListUpcomingDatesPaymentsRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.listUpcomingDates({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         paymentOrderUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa"
     *     })
     */
    public listUpcomingDates(
        request: Starling.ListUpcomingDatesPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.NextPaymentDatesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listUpcomingDates(request, requestOptions));
    }

    private async __listUpcomingDates(
        request: Starling.ListUpcomingDatesPaymentsRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.NextPaymentDatesResponse>> {
        const { accountUid, categoryUid, paymentOrderUid, count } = request;
        const _queryParams: Record<string, unknown> = {
            count,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}/standing-orders/${core.url.encodePathParam(paymentOrderUid)}/upcoming-payments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Starling.NextPaymentDatesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v2/payments/local/account/{accountUid}/category/{categoryUid}/standing-orders/{paymentOrderUid}/upcoming-payments",
        );
    }

    /**
     * Creates and sends an immediate payment within the UK under the Faster Payments Scheme or via SEPA for payments between Euro accounts.
     *
     * Categories are subdivisions of an account.
     * The default category holds the main balance and transactions. Savings goals and spending spaces are examples of other categories. You can use [`/api/v2/accounts`](#operations-tag-Accounts) to get the default category UID for an account.
     *
     * The recipient of the payment must either be defined in the `paymentRecipient` field in the request body  or be an existing payee of the account holder (you can create a new payee using `/api/v2/payees`).For payments made using a Personal Access Token, the recipient must be an existing payee defined in the `destinationPayeeAccountUid` field.
     *
     * `externalIdentifier` is a unique identifier for the payment request, and is generated by you. To ensure idempotency, this must be unique for each payment request you create.
     *
     * Note that the payment may not take place immediately if we need to review the payment request. In that case, the payment may remain in a `PENDING` state for a while (possibly for a few hours).
     *
     * Required scopes (any): pay-local:create, pay-local-once:create. Requires request signing.
     *
     * @param {Starling.InstructLocalPaymentRequest} request
     * @param {PaymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StarlingError}
     * @throws {@link errors.StarlingTimeoutError}
     *
     * @example
     *     await client.payments.create({
     *         accountUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         categoryUid: "aaaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
     *         externalIdentifier: "Unique identifier to ensure idempotency",
     *         reference: "December Expenses",
     *         amount: {
     *             currency: "GBP",
     *             minorUnits: 123456
     *         }
     *     })
     */
    public create(
        request: Starling.InstructLocalPaymentRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Starling.InstructLocalPaymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Starling.InstructLocalPaymentRequest,
        requestOptions?: PaymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Starling.InstructLocalPaymentResponse>> {
        const { accountUid, categoryUid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StarlingEnvironment.Sandbox,
                `api/v2/payments/local/account/${core.url.encodePathParam(accountUid)}/category/${core.url.encodePathParam(categoryUid)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Starling.InstructLocalPaymentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StarlingError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/v2/payments/local/account/{accountUid}/category/{categoryUid}",
        );
    }
}
